<div class="sideBar">
    <!-- This section gets pushed to the top-->
     <div class="sideBar_links">
        <div class="sideBar_menu">
            <div class="logo"><a href="/"><p>KRIS KASS</p></a></div>
            <div class="sideBar_item"><a href="/about">About me</a></div>
            <div class="sideBar_item"><a href="/contact">Contact</a></div>
            <div class="sideBar_item">Account</div>
            <div class="sideBar_item"><a href="/gallery">Gallery</a></div>
        </div>
        <!-- This section gets pushed to the bottom-->
        <div class="sideBar_contact">
            <div class="sideBar_item">Mail</div>
            <div class="sideBar_item">Bluesky</div>
            <div class="sideBar_item">IG</div>
        </div>
    </div>
</div>

