<div class="sideBar">
    <div class="sideBar_links">
        <div class="sideBar_menu">
            <a href="/"><div class="logo"><h2>KRIS KASS</h2></div></a>
            <a href="/about"><div class="sideBar_item">About me</div></a>
            <a href="/contact"><div class="sideBar_item">Contact</div></a>
            <div class="sideBar_item accordion" data-id="gallery">> Film</div>
            <div class="panel">
                <ul>
                    <li class="sideBar_item"><a href="/gallery?name=35mm">35mm</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=120">120mm</a></li>
                </ul>
            </div>
            <div class="sideBar_item accordion" data-id="Digital">> Digital</div>
            <div class="panel">
                <ul>
                    <li class="sideBar_item"><a href="/gallery?name=digital">Digtial Gallery</a></li>
                    <li class="sideBar_item">item 4</li>
                </ul>
            </div>
        </div>
        <div class="sideBar_contact">
            <div class="sideBar_item"><a href="mailto:kris@kriskass.com"><i class="fa-regular fa-envelope"></i></a></div>
            <div class="sideBar_item"><a href="https://bsky.app/profile/kriskass.com>"><i class="fa-brands fa-bluesky"></i></a></div>
            <div class="sideBar_item"><a href="https://www.instagram.com/kris.kass/"><i class="fa-brands fa-instagram"></i></a></div>
        </div>
    </div>
    <script src="/js/menu.js"></script>
</div>