<div class="sideBar">
    <a href="/"><div class="logo"><h2>KRIS KASS</h2></div></a>
    <div class="sideBar_links">
        <div class="sideBar_menu">
            <a href="/about"><div class="sideBar_item">About me</div></a>
            <a href="/contact"><div class="sideBar_item">Contact</div></a>
            <div class="mobile-break"></div>
            <div class="sideBar_item accordion" data-id="town_gallery">> Around Town</div>
            <div class="panel">
                <ul>
                    <li class="sideBar_item"><a href="/gallery?name=35_around_town">Things</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=35_black_white">Black & White</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=35_graffiti">Graffiti</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=35_people">People</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=35_purple">Purple</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=120_around_town">Medium Format</a></li>
                </ul>
            </div>
            <div class="sideBar_item accordion" data-id="usvi_gallery">> USVI</div>
            <div class="panel">
                <ul>
                    <li class="sideBar_item"><a href="/gallery?name=35_USVI">35mm</a></li>
                    <li class="sideBar_item"><a href="/gallery?name=120_USVI">Medium Format</a></li>
                </ul>
            </div>
            <div class="sideBar_item accordion" data-id="Digital">> Digital</div>
            <div class="panel">
                <ul>
                    <li class="sideBar_item"><a href="/gallery?name=digital">Digtial Gallery</a></li>
                </ul>
            </div>
        </div>
        <div class="sideBar_contact">
            <div class="sideBar_item"><a href="mailto:kris@kriskass.com" target="_blank"><i class="fa-regular fa-envelope"></i></a></div>
            <div class="sideBar_item"><a href="https://bsky.app/profile/kriskass.com" target="_blank"><i class="fa-brands fa-bluesky"></i></a></div>
            <div class="sideBar_item"><a href="https://www.instagram.com/kris.kass/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        </div>    
    </div>
    <div id="copyright">© Kris Kass</div>
</div>
<script src="/js/menu.js"></script>