<div id="about_page">
    <div id="profile_photo"><img src="\images\content\profile.jpg" alt="profile picture"></div>
    <div id="profile_desc">
        <p>
            I am a Cincinnati-based photographer with experience in digital photography since 2016. 
            In addition to shooting and editing digitally, I recently started working with film photography, 
            including shooting, developing, and scanning my own work. My photography spans a variety of genres, 
            including concert, street, portrait, and landscape photography. Outside of photography, 
            I have 12 years of professional experience as a system administrator (including building and serving websites like this one), which has given me a strong 
            technical foundation that complements my creative work.
        </p>
        <p>
            If you'd like to reach out or have any questions, the easiest way to reach me is via email:
            <mark><u><a href="mailto:kris@kriskass.com">kris@kriskass.com</a></u></mark>
        </p>
    </div>
</div>