            <div class="content-gallery">
                <div class="main-gallery">
                    gallery test
                </div>
                <div class="thumbnail-gallery">
                </div>
            </div>