<div class="content-gallery">
  <!-- Main Gallery -->
  <div class="main-gallery" id="main-gallery">
    <img id="main-image" src="" alt="Main Image">
  </div>

  <!-- Thumbnail Gallery -->
  <div class="thumbnail-gallery" id="thumbnail-gallery"></div>
</div>

<!-- Data for gallery.js (CSP-friendly, no inline JS) -->
<script type="application/json" id="gallery-images">
  <%- JSON.stringify(images) %>
</script>

<script type="application/json" id="gallery-folder">
  <%- JSON.stringify(folder) %>
</script>

<script src="/js/gallery.js" defer></script>