body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: whitesmoke;
}
.front-page{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.contact-info {
    padding: 10px;
}
.sideBar {
    display: flex;
    flex: 1;
    min-width: fit-content;
    flex-direction: column;
}
.sideBar .sideBar_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sideBar .sideBar_item {
    cursor: pointer;
    color: black;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.sideBar .sideBar_item i {
    padding: 10px;
}
.sideBar .sideBar_menu {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.sideBar .sideBar_contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.sideBar .logo {
    display: flex;
    margin-left: 10px;
}
.sideBar .logo h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-right: .5rem;
}
main {
    display: grid;
    flex: 5;
    align-content: stretch;
}
#copyright {
    text-align: center;
    font-size:10px;
}

/* Main container for the gallery */
.content-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) 120px; /* Adjusted for thumbnail gallery height */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

/* Style for main gallery */
.main-gallery {
    grid-area: 1 / 1 / 5 / 6;
    display: flex; /* Ensure the content inside the main-gallery uses flex */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling if the image overflows */
    text-align: center;
}

.main-gallery img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Maintain aspect ratio and fit inside the div */
    margin: auto;
}

/* Style for thumbnail gallery */
.thumbnail-gallery {
    grid-area: 5 / 1 / 6 / 6;
    display: flex; /* Allow thumbnails to align horizontally */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    box-sizing: border-box;
    align-items: center; /* Vertically center thumbnails */
}

.thumbnail-gallery img {
    max-height: 100px; /* Restrict thumbnail height */
    margin-right: 10px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

.active, .accordion:hover {
    background-color: whitesmoke;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        box-sizing: border-box;
    }
    .mobile-break {
        flex-basis: 100%;
        height: 0;
    }
    .front-page {
        flex-direction: column;
    }

    .sideBar .sideBar_menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
    }

    .sideBar .sideBar_item {
        padding-right: 20px;
        padding-left: 20px;
    }

    .sideBar .logo {
        margin-top: 10px;
        margin-left: 0;
        justify-content: center;
    }

    .content-gallery {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 10%); /* Dynamically adjust for navigation bar height */
        overflow: hidden;
        height: 100%;
    }

    .main-gallery {
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .thumbnail-gallery {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: auto;
        padding: 5px;
        box-sizing: border-box;
    }

    .thumbnail-gallery img {
        height: 95%; /* Adjust thumbnail size to fit within the gallery */
        flex-grow: 0;
        object-fit: contain;
        cursor: pointer;
    }
}