body{
    display: flex;
    margin: 0px;
}
.sideBar {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-right: 1px solid #D7DBDD;
    background-color: #ffffff;
}
.sideBar_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.sideBar_item {
    cursor: pointer;
    color: #3e2ed1;
    font-size: 15px;
}
.sideBar_menu{
    padding-left: 10px;
}
.sideBar_contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
main{
    display: grid;
    flex: 8;
    width: 100%;
}
.content-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr) .5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .main-gallery { grid-area: 1 / 1 / 5 / 6;
        background-color: blue; 
    }
    .thumbnail-gallery { grid-area: 5 / 1 / 6 / 6;
        min-height: 100px;
        background-color: red; 
    }