<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./headers.ejs") %>
    </head>
    <body>
        <%- include("./sidebar.ejs") %>
        <div class="content_area">
            <%- include("./gallery.ejs") %>
        </div>
    </body>
</html>